/* /ArticleLayout.razor.rz.scp.css */
/* /Components/Ability.razor.rz.scp.css */
img[b-aae35bj40l]
{
    width: 100%;
    height: 100%;
}

.abilityItem[b-aae35bj40l]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mb-5[b-aae35bj40l]
{
    margin-bottom: 5px;
}

.highlight[b-aae35bj40l]
{
    color: var(--color-accent-normal)
}

.m-05[b-aae35bj40l]
{
    margin: 0 5px;
}

.list[b-aae35bj40l]
{
    margin: 0;
/*    padding: 0;*/

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* /Components/FromToSlider.razor.rz.scp.css */
.range[b-dlhs2bxz04]
{
    display: flex;
    flex-direction: column;
    /*width: 80%;*/
    /*margin: 35% auto;*/
}

.sliders[b-dlhs2bxz04]
{
    position: relative;
    margin: 0 0 15px 0;
}

.form_control[b-dlhs2bxz04]
{
    position: relative;
    display: flex;
    justify-content: space-between;
    /*font-size: 12px;*/
    /*color: #635a5a;*/
}

input[type=range][b-dlhs2bxz04]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range][b-dlhs2bxz04]::-moz-range-thumb
{
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range][b-dlhs2bxz04]::-webkit-slider-thumb:hover
{
    background: #d6d6d6;
}

input[type=range][b-dlhs2bxz04]::-webkit-slider-thumb:active
{
    box-shadow: inset 0 0 3px var(--color-accent-normal), 0 0 9px var(--color-accent-normal);
    -webkit-box-shadow: inset 0 0 3px var(--color-accent-normal), 0 0 9px var(--color-accent-normal);
}

input[type="number"][b-dlhs2bxz04]
{
    /*color: #8a8383;*/
    width: 50px;
    /*height: 30px;*/
    /*font-size: 20px;*/
    border: none;
}

input[type=number][b-dlhs2bxz04]::-webkit-inner-spin-button,
input[type=number][b-dlhs2bxz04]::-webkit-outer-spin-button
{
    opacity: 1;
}

input[type="range"][b-dlhs2bxz04]
{
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #656565;
    pointer-events: none;
    margin: 0;
}

.from[b-dlhs2bxz04]
{
    height: 0 !important;
    z-index: 1;
    margin-top: 2px !important;
}

.to[b-dlhs2bxz04]
{
    background: linear-gradient(to right, var(--color-slider-background) 0%, var(--color-slider-background) var(--from-percentage), var(--color-slider-foreground) var(--from-percentage),var(--color-slider-foreground) var(--to-percentage),var(--color-slider-background) var(--to-percentage), var(--color-slider-background) 100%)
}

.test[b-dlhs2bxz04]
{
    position: absolute;
    height: 4px;
    background: var(--accent-color-normal);
}
/* /Components/ItemDetails.razor.rz.scp.css */
img[b-dfyquw6to6]
{
    display: block;
    position: absolute;
    object-fit: fill;
}

.outer-container[b-dfyquw6to6]
{
    --thickness: 10px;
    position: relative;
    display: grid;
    /*    justify-items: center;*/
    padding: calc(var(--thickness));
    background-color: rgba(0, 0, 0, 0.80);
    border: 10px solid transparent;
}

.Equiped[b-dfyquw6to6]
{
    border-image: url("Data/Images/Icon/BorderEquiped.png") 19 round;
}

.Unequiped[b-dfyquw6to6]
{
    border-image: url("Data/Images/Icon/BorderUnequiped.png") 19 round;
}

.inner-container[b-dfyquw6to6]
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content;
    justify-items: center;
}

.header[b-dfyquw6to6]
{
    color: rgb(0, 255, 255);
    font-size: 15px;
    font-family: 'Wizard Fancy';
}

    .header:not(:empty)[b-dfyquw6to6]
    {
        margin-bottom: 10px;
    }

.content[b-dfyquw6to6]
{
    color: white;
}

.footer[b-dfyquw6to6]
{
    color: white;
}

    .footer:not(:empty)[b-dfyquw6to6]
    {
        margin-top: 10px;
    }


.top[b-dfyquw6to6]
{
    top: 0;
}

.bottom[b-dfyquw6to6]
{
    bottom: 0;
}

.left[b-dfyquw6to6]
{
    left: 0;
}

.right[b-dfyquw6to6]
{
    right: 0;
}

.flip-x[b-dfyquw6to6]
{
    transform: scaleX(-1);
}

.flip-y[b-dfyquw6to6]
{
    transform: scaleY(-1);
}

.flip-xy[b-dfyquw6to6]
{
    transform: scale3d(-1, -1, 1);
}

.stretch-x[b-dfyquw6to6]
{
    width: 100%;
    height: var(--thickness);
}

.stretch-y[b-dfyquw6to6]
{
    height: 100%;
    width: var(--thickness);
}

.corner[b-dfyquw6to6]
{
    height: var(--thickness);
    width: var(--thickness);
}
/* /Components/ItemPreview.razor.rz.scp.css */
div[b-4apox4k35f]
{
    display: grid;
    justify-items: center;
    border: 10px solid transparent;
    border-image: url("Data/Images/Icon/ItemBorder.png") 19 round;
    background: url(Data/Images/Icon/ItemPreviewBackground.png);
}
/* /Components/MaterialSymbol.razor.rz.scp.css */
.material-symbols-sharp[b-e4j66vqyph]
{
    color: var(--color-accent-normal);
    font-size: 1.5em;
}
/* /Components/Overlay.razor.rz.scp.css */
#overlay[b-ppa89y19dd]
{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

#background[b-ppa89y19dd]
{
    cursor: pointer; /* Add a pointer on hover */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

#content[b-ppa89y19dd]
{
    margin: 50px;
}
/* /Components/PetAbility.razor.rz.scp.css */
div[b-4bhjtnqlhp]
{
    position: relative;
}

div img[b-4bhjtnqlhp]
{
    position: absolute;
    top: 0;
    left: 0;
}

div span[b-4bhjtnqlhp]
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: 'Wizard Fancy';
    font-size: 24px;
}
/* /Components/TalentCalculatorResult.razor.rz.scp.css */
.header[b-5kfoitmmnu]
{
    display: flex;
    margin: 10px 25px 10px 0;
}

.talent-category[b-5kfoitmmnu]
{
    max-width: 650px;
}

.talents[b-5kfoitmmnu]
{
    display: grid;
    grid-template-columns: repeat(8, max-content);
    grid-column-gap: 10px;
}

.equals[b-5kfoitmmnu]
{
}
/* /Components/Tooltip.razor.rz.scp.css */

/* Tooltip container */
.tooltip[b-uncmwlhkc4]
{
    position: relative;
    /*width: 100%;
    height: 100%;*/
    display: grid;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip content */
    .tooltip .tooltip-content[b-uncmwlhkc4]
    {
        visibility: hidden;
        /*width: auto;*/
        height: auto;
/*        background-color: #393939;*/
/*        color: #fff;*/
        text-align: center;
/*        padding: 10px;*/
        border-radius: 6px;

        /* Position the tooltip content - see examples below! */
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 50%;
        width: 270px;
/*        margin: 10px;*/
        margin-left: -135px;
    }

    /* Show the tooltip content when you mouse over the tooltip container */
    .keep-open:hover .tooltip-content[b-uncmwlhkc4]
    {
        visibility: visible;
    }

    .content:hover + .tooltip-content[b-uncmwlhkc4]
    {
        visibility: visible;
    }

    /* Tooltip arrow */
    .tooltip .tooltip-content[b-uncmwlhkc4]::after
    {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }

[tooltip]:hover[b-uncmwlhkc4]::after
{
    display: block;
    position: absolute;
    content: attr(tooltip);
    border: 1px solid black;
    background: #eee;
    padding: .25em;
}
/* /Components/UpdateNotice.razor.rz.scp.css */
.floating-update-button[b-h4bvm1qj1n]
{
    position: relative;
    top: 0;
    padding: 1rem 1.5rem;
    width: 100%;
}
/* /Pages/Categories/Database/Creatures/Creatures.razor.rz.scp.css */
.creature[b-3h0memyx8i]
{
    margin: 10px 0 0 0;
    padding: 10px;
    border: 1px solid var(--color-accent-normal);
}
/* /Pages/Categories/Database/Pets/Catalogue/Catalogue.razor.rz.scp.css */
.pet[b-aj549j2r88]
{
    border: 2px solid #ffd800;
    padding: 10px;
    margin: 10px;
}

.pet-info[b-aj549j2r88]
{

}

.pet-screenshots[b-aj549j2r88], .pet-info[b-aj549j2r88]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet-screenshot[b-aj549j2r88]
{

    width: 50%;
}
/* /Pages/Categories/Database/Pets/Catalogue/Pet.razor.rz.scp.css */
.pet[b-8lz49mcx5f]
{
    border: 2px solid #ffd800;
    padding: 20px;
    margin: 20px;
}

.pet-info[b-8lz49mcx5f]
{
}

.pet-screenshots[b-8lz49mcx5f], .pet-info[b-8lz49mcx5f]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet-screenshot[b-8lz49mcx5f]
{
    width: 50%;
}
/* /Pages/Categories/Database/Pets/Pets.razor.rz.scp.css */
#searchTextBox[b-1cwyqipxrs]
{
    width: 100%;
    font-size: 1.2em;
    margin: 0 0 20px 0;
}

#pets[b-1cwyqipxrs]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    #pets > div[b-1cwyqipxrs]
    {
        flex: 1;
    }

.pet[b-1cwyqipxrs]
{
    margin: 8px;
    padding: 10px;
    border: 1px solid var(--color-accent-normal);
    flex: 1 1 0px;
}

.info[b-1cwyqipxrs]
{
    /*width: auto;*/
}

.flags[b-1cwyqipxrs]
{
    /*width: 180px;*/
    margin: 0 20px;
}

.pet + .pet[b-1cwyqipxrs]
{
    
}

.pet-info[b-1cwyqipxrs]
{
    display: flex;
    flex-direction: row;
}

.pet-image[b-1cwyqipxrs]
{
    margin: 0 20px 0 0;
    display: block;
    max-width: 170px;
    max-height: 170px;
    width: auto;
    height: 100%;
}
/* /Pages/Categories/Guides/Pets/Pedigree.razor.rz.scp.css */
.abilities[b-74n660n5yd]
{
    display: grid;
    grid-template-columns: 100px 20px 20px;
}
/* /Pages/Categories/Tools/Pets/AbilityPrioritizer.razor.rz.scp.css */
h3[b-kg0x9e45a9]
{
    text-align: center;
    margin: 0;
}

.container[b-kg0x9e45a9]
{
    /*display: grid;
    grid-template-columns: repeat(3, minmax(0, max-content));
    margin: 15px 0 0 0;
    justify-content: space-between;*/

    margin: 15px 0 0 0;
}

.abilities[b-kg0x9e45a9]
{
    /*display: grid;
    grid-template-columns: 50px auto;*/
    height: 600px;
    overflow-y: scroll;
}

.ability[b-kg0x9e45a9]
{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    /*width: 330px;
    height: 40px;*/
}

    .ability > span[b-kg0x9e45a9]
    {
        justify-self: center;
    }

    .ability button[b-kg0x9e45a9]
    {
        /*display: grid;*/
        /* grid-template-columns: max-content; */
        width: 300px;
        height: 3em;
        padding: 0;
        /*justify-items: stretch;
        align-items: center;
        justify-content: center;
        align-content: center;*/
    }

.ordered[b-kg0x9e45a9]
{
    grid-template-columns: 20px 40px auto;
}
/* /Pages/Categories/Tools/Pets/PetReturnChanceCalculator.razor.rz.scp.css */
select[b-037yjzoic7], input[b-037yjzoic7]
{
    grid-column: 1;
    grid-row: 1;
    max-width: 140px;
}
.flex-columb[b-037yjzoic7]
{
    /*height: 220px;*/
}


#calculators[b-037yjzoic7]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.calculator[b-037yjzoic7]
{
    min-width: 340px;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid var(--color-accent-normal);
}



.wow[b-037yjzoic7]
{
    text-align: center;
}

h3[b-037yjzoic7]{
    align-self: center;
}

.column[b-037yjzoic7]
{
/*    width: 50%;*/
}

    .column + .column[b-037yjzoic7]
    {
        margin-left: 10px;
    }


.dropdown[b-037yjzoic7]
{
    height: 200px;
    overflow-y: scroll;
    position: absolute;
    margin-top: 40px;
    width: 155px;
    background-color: darkblue;
}

.closed[b-037yjzoic7]
{
    display: none;
}

.open[b-037yjzoic7]
{

}
/* /Pages/Categories/Tools/Pets/PetStatCalculator.razor.rz.scp.css */
span[b-r97f31c7ji]
{
    display: flex;
}

.statistics[b-r97f31c7ji]
{
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-row-gap: 5px;
    position: sticky;
    top: 0px;
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
}

.statistic[b-r97f31c7ji]
{
    display: grid;
    grid-template-columns: 75px 30px 60px 30px 30px 50px 50px;
}

input[b-r97f31c7ji]
{
    width: 50px;
}

h3[b-r97f31c7ji]
{
    margin: 0 0 0 5px;
}

.header[b-r97f31c7ji]
{
    display: flex;
    margin: 30px 0 10px 0;
}

.talent-category[b-r97f31c7ji]
{
    max-width: 650px;
}

.talents[b-r97f31c7ji]
{
    display: grid;
    grid-template-columns: repeat(8, max-content);
    grid-column-gap: 7px;
}

.equals[b-r97f31c7ji]
{
}
