/* /ArticleLayout.razor.rz.scp.css */
/* /Pages/Categories/Pets/Catalogue/Catalogue.razor.rz.scp.css */
.pet[b-8kuan99scd]
{
    border: 2px solid #ffd800;
    padding: 20px;
    margin: 20px;
}

.pet-info[b-8kuan99scd]
{

}

.pet-screenshots[b-8kuan99scd], .pet-info[b-8kuan99scd]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet-screenshot[b-8kuan99scd]
{

    width: 50%;
}
/* /Pages/Categories/Pets/Catalogue/Pet.razor.rz.scp.css */
.pet[b-to84yicpyv]
{
    border: 2px solid #ffd800;
    padding: 20px;
    margin: 20px;
}

.pet-info[b-to84yicpyv]
{
}

.pet-screenshots[b-to84yicpyv], .pet-info[b-to84yicpyv]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet-screenshot[b-to84yicpyv]
{
    width: 50%;
}
/* /Pages/Categories/Pets/Database/Pets.razor.rz.scp.css */
#searchTextBox[b-369s3bhnz1]
{
    width: 100%;
    font-size: 24px
}

#pets[b-369s3bhnz1]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.flex-row[b-369s3bhnz1]
{
    display: flex;
    flex-direction: row;
}

    #pets > div[b-369s3bhnz1]
    {
        flex: 1;
    }

.flex-column[b-369s3bhnz1]
{
    display: flex;
    flex-direction: column;
}

.pet[b-369s3bhnz1]
{
    margin: 8px;
    padding: 10px;
    border: 1px solid var(--color-accent-normal);
    flex: 1 1 0px;
}

.info[b-369s3bhnz1]
{
    width: 180px
}

.flags[b-369s3bhnz1]
{
    width: 180px;
    margin: 0 0 0 20px
}

/*.pet + .pet
{
    margin-top: 15px;
}*/

.pet-info[b-369s3bhnz1]
{
    display: flex;
    flex-direction: row;
}

img[b-369s3bhnz1]
{
    margin: 0 20px 0 0;
    display: block;
    max-width: 170px;
    max-height: 170px;
    width: auto;
    height: auto;
}

h4[b-369s3bhnz1]{
    margin: 0 10px 0 0;
}
